/* Minimal Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 100%; /* base 16px */
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    font-family: var(--fonte-principal, sans-serif);
    background-color: var(--cor-de-fundo);
    color: var(--azul);
}

img,
iframe {
    max-width: 100%;
    display: block;
    height: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}
